{% extends "public/templates/index.html"%}
{% block title%} Home Page {%endblock title%}

{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/img/doosratake_icon.png" alt="doosraTake" title="doosraTake"
        width="150" height="45"></a>

    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
               
                <li class="nav-item">

                    <a class="nav-link" href="https://www.facebook.com/doosratake/">
                        <img src="/static/img/fb_icon.png" alt="Find us on Facebook" title="Find us on Facebook"
                            width="25" height="25">
                    </a>
                </li>
            </ul>
        </form>
    </div>
</nav>
<br>
{%endblock navbar%}


{%block body%}
{%block homebody%} {%endblock homebody%}
{%endblock body%}

